# Files and directories created by pub.
.dart_tool/
task_section_7.dart
/lib
/test
analysis_options.yaml
CHANGELOG.md
pubspec.lock
pubspec.yaml
README.md
# Conventional directory for build output.
build/
